.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__lang > img {
  padding: 5px;
  display: flex;
  align-items: center;
  height: 30px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__navTwo {
  display: flex;
  align-items: center;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  z-index: -1;
  color: wheat;
}

.header__menu {
  color: white;
  margin-left: 10px;
  cursor: pointer;
  hover: border;
}


.header__dropdown {
  display: flex;
  padding-left: 5px;
  height: 50px;
  background-color: #CD9042;
}

.header__dropdown Select {
  font-size: 12px;
}

.flag__usa {
  height: 20px;
  padding-right: 10px;
}

.flag__canada {
  height: 20px;
  padding-right: 10px;
}

.flag__germany {
  height: 20px;
  padding-right: 10px;
}

.flag__switzerland {
  height: 20px;
  padding-right: 10px;
}

.flag__croatia {
  height: 20px;
  padding-right: 10px;
}

.flag__madagaskar {
  padding-right: 10px;
  height: 20px;
}